jwt.secret.sign.size=256
jwt.secret.encryption.size=48

#random generate by size if null
jwt.secret.sign=RxiKW3a1GEUOgoZHu6monjDlrd8T6R4Gj2KcMNnNbE9d3WkTQLZGy6VG3rCAXk3zg7e2Pp63wMdCHy5haFaZmhEWAVP5Vhsb7O0wC1cNvP9qyEDORO2FegGja7czhBsG44xjJ3RXRvyfNf0APWrZTgoVoY4OeMvlvN781eK58QoZsb0APajUgP831DyQohgX66D95QKU3cbsOhoVVlwCt1d8HuWuO0N6rG6a7tPuPzj5F5PVyHkcLlM5fj9TJozt
jwt.secret.encryption=FBNMZbGSZc6QfALEVcCcUmweseCGqiNkgzJ1TkSG59FOoR5m